<section class="row container-fluid crazy-color about-section-container mx-0">
    <div class="col-12 col-md-6 p-0">
        <div class="about-image"></div>
    </div>
    <div class="col-12 col-md-6 p-5 d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-header text-xl text-center">
            COFFEE FOREST
        </h2>
        <p class="text-md text-center text-md-start py-5 px-md-3 p-xl-5 m-0">
            <strong>Coffee Forest</strong>,
            {{ histories.history_f }}
            <br>
            <br>
            {{ histories2.history_f }}
            <strong><em>"Coffee Forest provides premium quality unmatched anywhere in the world."</em></strong>
        </p>
    </div>
</section>