<section class="row container-fluid flavor-bg-color py-5 p-0 m-0 d-flex flex-column align-items-center justify-content-center border-bottom-light-green">
    <div class="col-12 col-md-6 p-5 d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-header text-xl text-center">
            Flavors
        </h2>
        {% for x in flavors %}
            <p class="text-lg py-5 px-md-3 p-xl-5 m-0 text-center">
                {{ x.description_f }}
            </p>
        {% endfor %}
        <a href="{% url 'products' %}" class="btn btn-light-green text-md p-3 rounded-3 shadow p-3 mb-5 rounded">
            COFFEE
        </a>
    </div>
</section>