.hero-image {
    background-image: url('/media/pexels-afta-putta-gunawan-683039.jpg');
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 164px;
    font-family: 'Lato';
    
}

.crazy-color-text {
    -webkit-text-stroke: 0.5px white;
    color: #c1d1c1;
}

.logo-font {
    text-transform: uppercase;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.about-section-container {
    min-height: auto;
    padding: 3rem 3rem;
}

.flavor-section-container {
    min-width: auto;
    padding: 3rem 3rem;
}

.about-image {
    background-image: url('/media/coffee-mugs.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}