.crazy-color-text {
    -webkit-text-stroke: 0.5px white;
    color: #c1d1c1;
}

.logo-font {
    text-transform: uppercase;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}