html {
    height: 100%;
}

body {
    background: url('/media/pexels-afta-putta-gunawan-683039.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}
