<footer class="mt-auto border-top-light-green">
    <div class="container-fluid row background-white m-0 p-0">


        <!-- Coffee Newsletter-->
        {% include 'components/newsletter/newsletter.html' %}


        <div class="col-12 col-md-6 col-lg-6 col-xl-4 mx-auto my-3 d-flex flex-column align-items-center justify-content-start justify-content-md-center">
            <div class="w-100 d-flex flex-row align-items-center justify-content-around">
                
                <a href=""
                    target="_blank" rel="noopener noreferrer" class="text-md text-dark-green footer-link">
                    <i class="bi bi-twitter"></i>
                </a>
                
                <a href=""
                target="_blank" rel="noopener noreferrer" class="text-md text-dark-green footer-link">
                <i class="bi bi-facebook"></i>
                </a>

                <a href=""
                    target="_blank" rel="noopener noreferrer" class="text-md text-dark-green footer-link">
                    <i class="bi bi-instagram"></i>
                </a>


            </div>
        </div>

    </div>
</footer>