<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Continents
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="america-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                South America
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="america-link">
                <a href="{% url 'products' %}?category=brazil" class="dropdown-item">Brazil</a>
                <a href="{% url 'products' %}?category=colombia" class="dropdown-item">Colombia</a>
                <a href="{% url 'products' %}?category=venezuela" class="dropdown-item">Venezuela</a>
                <a href="{% url 'products' %}?category=brazil,colombia,venezuela" class="dropdown-item">All South America</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="africa-link" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Africa
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="africa-link">
                <a href="{% url 'products' %}?category=ethiopia" class="dropdown-item">Ethiopia</a>
                <a href="{% url 'products' %}?category=kenya" class="dropdown-item">Kenya</a>
                <a href="{% url 'products' %}?category=uganda" class="dropdown-item">Uganda</a>
                <a href="{% url 'products' %}?category=ethiopia,kenya,uganda" class="dropdown-item">All Africa</a>
            </div>
        </li>
    </ul>
</div>      