<section class="row container-fluid crazy-color about-section-container">
    <div class="col-12 col-md-6 p-0">
        <div class="about-image"></div>
    </div>
    <div class="col-12 col-md-6 p-5 d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-header text-xl text-center">
            COFFEE FOREST
        </h2>
        <p class="text-md text-center text-md-start py-5 px-md-3 p-xl-5 m-0">
            <strong>Coffee Forest</strong>, started with the love for coffee by Royer Segura. He wanted to scavanger different countries for the best tasting coffees
            that our planet has to offer. He couldn't do it alone so he teamed up with long time friend tech billionaire Elon Musk who he reached out for financially.
            Musk's love for coffee supported Royer who he has allowed to run the company as Musk oversees other business ventures. 
            <br>
            <br>
            After 5 years it has become the most successful online purchasing coffee company in the world. It is expected that in the next 3 years we'll be the go
            chose over both Starbucks and Dunkin.
            <strong><em>"Coffee Forest provides premium quality unmatched anywhere in the world."</em></strong>
        </p>
    </div>
</section>