<section class="row container-fluid flavor-bg-color py-5 p-0 m-0 d-flex flex-column align-items-center justify-content-center border-bottom-light-green">
    <div class="col-12 col-md-6 p-5 d-flex flex-column align-items-center justify-content-center">
        <h2 class="text-header text-xl text-center">
            Our Flavors
        </h2>
        <p class="text-lg py-5 px-md-3 p-xl-5 m-0 text-center">
            We are in the elite 5% when it comes to the flavors we have to offer. The rigirous process that our company
            undergoes in order to produce such coffee is what separates us from the rest of the world. Covering ground 
            in both the continents of South America and Africa we do what no one else is capable of. We work with the animals
            you see in our packaging in order to produce the rich coffee you brew at home. Each unique flavor is made with the
            top quality feces of each animal and insect.
        </p>
        <a href="{% url 'products' %}" class="btn btn-light-green text-md p-3 rounded-3 shadow p-3 mb-5 rounded">
            COFFEE
        </a>
    </div>
</section>