<section class="hero-image">
    <div class="container">
        <div class="text-center">
            <div>
                <h1 class="logo-font text-uppercase crazy-color-text">
                    coffee from around the world
                </h1>
            </div>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="border border-white border-2 
                    shop-now-button btn btn-lg rounded-0 
                    text-uppercase py-3">Purchase Now
                    </a>
                </h4>
            </div>
        </div>
    </div>
</section>
