<div class="toast show custom-toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header bg-danger text-dark">
      <strong class="me-auto">Alert!</strong>
      <small>Item added to bag</small>
      <button type="button" id="toastbtn" class="btn-close" data-bs-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="toast-body">
      {{ message }}
    </div>
  </div>